*{
    font-family: sans-serif;
    margin: 1%;
}


h1{
    background-color: black;
    color: white;
    font-style: bold;
    font-size: 40px;
    padding: 2px 0px 2px 15px;
}
span{
    color: rgb(0,255,255);
}

h2{
    background-color: rgb(102,51,153);
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    font-size: 22px;
    padding: 5px;
}
h3{
    background-color: rgb(159,197,248);
    color: rgb(32,18,77);
    text-align: right;
    text-decoration: underline;
    font-size: 18px;
    padding: 6px 15px 6px 6px;
    font-weight: lighter;
}